.about {
    padding-top: 120px;
    &__container {
        width: 100%;
        max-width: 1040px;
        margin: auto;
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: minmax(245px, auto) minmax(255px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
    }
    &__title {
        position: relative;
        @include yellow-line();
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
    &__img {
        height: 100%;
        display: block;
    }
    
    &__textslist {
        margin-top: 40px;
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 260px 260px);
        row-gap: 40px;
        column-gap: 50px;
    }
    &__textitem {
        list-style-type: none;
        font-size: 12px;
        line-height: 18px;
        width: 100%;
        display: grid;
        grid-template-columns: 25px 200px;
        column-gap: 20px;        
    }
    &__icon {
        position: relative;
        @include yellow-circle();
    }
    &__listtitle {
        margin-bottom: 6px;
    }

    &__descr {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    .subtitle {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-left: 15px;
        margin-bottom: 15px;
        @include yellow-circle();
        &::before {
            top: -23%;

        }
    }
}