.main {
    position: relative;
    background: url('../img/main_bg.jpg') center 50%/cover no-repeat;
    min-height: 100vh;
    padding-top: 205px;
    &__buttons {
        display: flex;
    }
    &__link {
        display: block;
        width: 135px;
        height: 45px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            text-decoration: none;
            color: #000000;
        }
    }
    .btn {

        background-color: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__subtitle {
        position: relative;
        z-index: 1;
        padding-left: 10px;
        @include yellow-circle();
    }
  
 
    
}
